.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.spellbookGridContainer {
    /*width: 400px;*/
    height: 700px;
    border: solid 2px;
    border-radius: 10px;
} 

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}
